body {
  font-family: "Times New Roman";
  margin-left: 0rem;
}
h1,
h3 {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  max-height: 10rem;
  border-radius: 5px;
}

#header {
  /* width: 100%; */
  width: flex;
}

#logo {
  position: absolute;
  top: 0px;
  right: 3.75rem;
  border: 4px solid black;
  height: auto;
}

#banner {
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg");
  margin-bottom: 2rem;
  border: 5px solid black;
  height: 160px;
  width: 110%;
  background-attachment: fixed;
}

#classWithEitan {
  position: relative;
  border: 4px solid black;
  top: -0.3rem;
  height: 159px;
}

.accordion {
  /* position:relative; */
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 0rem;
  align-items: center;
  height: fit-content;
  background-attachment: fixed;
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg");
  background-position: 25% 75%;
}

.accordion-title {
  font-size: 50px;
  font-weight: 700;
  height: 5.3rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg");
  /* border: .9px solid #555; */
}

/* .accordion-title:hover{
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 40%;
} */

#icon:before {
  font-size: 50px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg");
}

#pie {
  filter: grayscale(1);
}
#pie:hover {
  /* display:inline-flexbox; */
  /* position:inherit; */
  /* right: -50rem; */
  /* font-size: 25px;
  font-weight: 700;   */
  /* fill: #FFC657; */
  /* animation: grow 15s ease-in-out;
  transform-origin: 100% 100%; */
  font-size: 3rem;
  /* filter: grayscale(1); */
  transition: 0.1s;
  border: none;
  cursor: pointer;
  /* transform: scale(1.23, 0); */
  filter: grayscale(0);
}

/* @keyframes grow {
  50% { transform: scale(1.4) rotate(-3deg); }
} */

#icon:after,
#icon:active,
#icon:hover {
  color: red;
}

.accordion-title:hover {
  font-size: 50px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* border: .2rem dotted maroon; */
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg");
  background-attachment: fixed;
}

.accordion-content {
  -webkit-text-stroke: 1px rgb(9, 3, 90);
  text-align: center;
  font-size: 200%;
  /* transform: translateY(-200px); */
}

/* .accordion-content:after {
  transition: transform 500ms ease-in-out;
  transition:  all 1s ease-out;
} */

.ContactForm {
  display: block;
  /* width: 45%; */
  width: min-content;
  height: 100%;
  margin: auto;
  background-color: rgb(129, 59, 59);
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg");
}

.wwClassImage,
.philosophyClassImage,
.classImage {
  /* height: 110%; */
  /* width: max-content; */
  block-size: 75px;
  writing-mode: horizontal-tb;
  position: relative;
  text-align: center;
  float: right;
  margin-top: 1%;
  border: 100% double maroon;
  /* border: 5px solid #555; */
}

.wwClassImage {
  /* block-size: 90px; */
  height: 4.75rem;
  width: 43.75%;
}

.philosophyClassImage {
  height: 4.75rem;
  width: 43.75%;
}

#openCloseSymbols {
  opacity: 0.5;
  float: right;
  padding-right: 2%;
}

.footer {
  text-indent: 7em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  opacity: 0.85;
  background: url("https://image.shutterstock.com/image-vector/traditional-indian-paisley-pattern-on-600w-1726867504.jpg")
      no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);
  margin-top: 1.25rem;
  /* margin-bottom: 1em; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: -11rem;
  text-align: center;
  font-size: larger;
  width: 100%;
  /* height: 100%; */
}

@media screen and (max-width: 500px) {
  .footer {
    text-indent: -5em;
    font-size: large;
  }
}

@media all and (max-width: 1260px) {
  .footer {
    text-indent: -10em;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
      radial-gradient(ellipse at top, #ec008c, transparent),
      radial-gradient(ellipse at bottom, #fc6767, transparent);
  }
}

#rainbowText {
  /* font-size:large ; */
  /* font-weight: 700; */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg");
  -webkit-text-stroke: 0.85px black;
  border: 0.2rem solid transparent;
  /* background-size: 100rem; */
  background-attachment: fixed;
  /* min-height: 85%; */
  /* background-size: cover; */
}

#filmColor {
  width: 100%;
  background-color: #39b9d2;
  background: radial-gradient(circle, Magenta 25%, rgb(255, 255, 255) 100%);
  position: absolute, center;
  background-size: 150px;
  background-image: url("https://thumbs.dreamstime.com/z/cinema-seamless-pattern-icons-movie-background-tv-show-television-online-entertainment-concept-film-elements-repeating-251720735.jpg");
  z-index: 15;
}

#filmColor::before {
  content: "";
  background: radial-gradient(circle, Magenta 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#programmingColor {
  background: radial-gradient(circle, #af7fdd 25%, rgb(255, 255, 255) 100%);
  background-size: 200px;
  background-image: url("https://as1.ftcdn.net/v2/jpg/02/38/22/66/1000_F_238226669_2e3HdJV5zB9LKE2RWaWoDN692MLSnv4g.jpg");
  z-index: 15;
}

#programmingColor:before {
  content: "";
  background: radial-gradient(circle, #af7fdd 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#epicsColor {
  background: radial-gradient(circle, Yellow 25%, rgb(255, 255, 255) 100%);

  background-size: 200px;
  background-image: url("https://c8.alamy.com/comp/2GNBWB5/ancient-greece-mythology-history-vector-seamless-pattern-2GNBWB5.jpg");
  z-index: 15;
}

#epicsColor:before {
  content: "";
  background: radial-gradient(circle, Yellow 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#stwColor {
  background: radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);

  background-size: 200px;
  background-image: url("https://image.shutterstock.com/image-vector/seamless-pattern-survival-people-surviving-600w-500423134.jpg");
}

#stwColor::before {
  content: "";
  background: radial-gradient(circle, #00ff7f 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#wwColor {
  background: radial-gradient(ellipse at top, red, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);

  background-size: 170px;
  background-image: url("https://thumbs.dreamstime.com/z/military-aircraft-pattern-seamless-black-military-aircraft-pattern-repeat-seamless-black-color-any-design-vector-geometric-102903104.jpg");
}

#wwColor::before {
  content: "";
  background: radial-gradient(circle, #f10202d1 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#philosophyColor {
  background-size: 370px;
  background-image: url("https://www.shutterstock.com/image-vector/lamp-light-bulb-hand-drawn-600w-520326277.jpg");
}

#philosophyColor::before {
  content: "";
  background: radial-gradient(circle, #02b5f1d1 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#policingColor {
  background-size: 170px;
  background-image: url("https://www.shutterstock.com/image-vector/police-related-icon-set-outline-600w-1042818226.jpg");
}

#policingColor::before {
  content: "";
  background: radial-gradient(circle, #ff7b00d1 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

#financeColor {
  background-size: 170px;
  background-image: url("https://www.shutterstock.com/image-illustration/leather-purse-pattern-repeat-seamless-600w-1106709062.jpg");
}

#financeColor::before {
  content: "";
  background: radial-gradient(circle, #2efa05d1 25%, rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

a {
  position: relative;
  font-size: 1rem;
  line-height: 0.9;
  text-align: center;
}

/* a:hover {
  font-size: 1.15rem;
} */

/* a:active {
  font-size: 0.75rem;
} */

#infoCard {
  display: block;
  position: inline;
  margin-bottom: 2.5rem;
  font-size: x-large;
}

#infoCard,
.Calendar {
  display: block;
  width: 113%;
  background-attachment: fixed;
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg");
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
}

#stwGreen {
  background: radial-gradient(circle, #00ff7f 25%, rgb(255, 255, 255) 100%);
  background-size: 200px;
  z-index: 15;
  opacity: 40%;
}

#speckledPattern {
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("https://thumbs.dreamstime.com/b/black-small-polka-dot-pattern-repeat-background-seamless-repeats-45645483.jpg");
  -webkit-text-stroke: 1px black;
  background-size: 300px;
}

#EitanInfoBox {
  max-width: 180px;
  background: url("https://image.shutterstock.com/image-vector/traditional-indian-paisley-pattern-on-600w-1726867504.jpg");
  background-position: 80% 80%;
  border: 4px solid black;
  background-position: 90% 5%;
}

#EitanInfoBox::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 40%;
}

.EitanInfoButtons {
  position: inline;
  margin: 3rem;
  margin-left: 15%;

  /* margin-top: 60%;
margin-bottom: 25%; */
  /* margin-left: 0.5rem;
  height: 31.5vmin; */
}

#eitansProfilePic {
  float: right;
  /* right: -52%; */
  /* margin-left: 2.25rem; */
  border: 0.2rem solid transparent;
  background-image: url("https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg");
  background-size: 100rem;
  background-attachment: fixed;
  width: auto;
  margin: 0.5rem;
}

/* p {
  text-align: justify;
} */

.time,
#shine {
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  -webkit-text-stroke: 0.01rem #70c3a5;
}

#nameAndYear {
  color: #70c3a5;
}

/* .modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal.enter-done .modal-content {
  transform: translateY(-200px);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
} */

.time {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);
  /* height: 4rem;
  width: 4rem; */
  /* position: static; */
  /* display:inline-flex; */
  /* font-size: 25px;
  font-weight: 700; */
  /* width:'100%';
  height: auto; */
  /* padding: .5rem;
  margin: .5rem; */
  opacity: 75%;
  margin-bottom: 1rem;
  border: 4px solid black;
  text-align: left;
}

@media all and (max-width: 1000px) {
  .time {
    text-align: center;
  }
}

#aBAB {
  background: radial-gradient(ellipse at top, yellow, transparent),
    radial-gradient(ellipse at bottom, rgb(3, 249, 110), transparent),
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));

  background-position: 10.95rem;
  background-size: 200px;
  z-index: 15;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#globe {
  transition: 0.1s;
  border: none;
  cursor: pointer;
  filter: grayscale(1);
}

#globe:hover {
  font-size: 2rem;
  transform: scale(1.23);
  filter: grayscale(0);
}
