body {
  font-family: "Times New Roman";
  margin-left: 0rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
  max-height: 10rem;
  border-radius: 5px;
}

#header {
  /* width: 100%; */
  width: flex;
}

#logo {
  position: absolute;
  top: 0px;
  right: 3.75rem;
  border: 4px solid maroon;
  height: auto;
}

#banner {
  background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');
  margin-bottom: 2rem;
  border: 5px solid maroon;
  height: 160px;
  width: 103%;
}

#classWithEitan {
  position: relative;
  border: 4px solid maroon;
  top: -.3rem;
  height: 159px;
}

.accordion {
  background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 0rem;
  align-items: center;
  background-position: 25% 75%;
}

/* .accordion-item:hover {
  background-color: rgb(243, 237, 237);
} */

.accordion-title {

  font-size: 50px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg');
}

#icon:before {
  font-size: 50px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg');
}

#icon:after,
#icon:active,
#icon:hover {
  color: red;
}

.accordion-title:hover {
  font-size: 50px;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* border: .2rem dotted maroon; */
  background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');

}

.accordion-content {
  -webkit-text-stroke: 1px rgb(9, 3, 90);
  text-align: center;
  font-size: 200%;
}

.ContactForm {
  display: block;
  width: 45%;
  height: 100%;
  margin: auto;
  background-color: rgb(129, 59, 59);
  background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');
}

.classImage {
  block-size: 65px;
  writing-mode: horizontal-tb;
  position: relative;
  text-align: center;
  float: right;
  margin-top: .5%;
  border: 100% double maroon;
}

#openCloseSymbols {
  opacity: 0.5;
  float: right;
  padding-right: 2%;
}

.footer {
  text-indent: 7em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  opacity: .85;
  background: url('https://image.shutterstock.com/image-vector/traditional-indian-paisley-pattern-on-600w-1726867504.jpg') no-repeat,
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);
  margin-top: 1.25rem;
  margin-bottom: -2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-right: -11rem;
  text-align: center;
  font-size: larger;
  width: auto;
}

@media screen and (max-width: 500px) {
  .footer {
    text-indent: -5em;
    font-size: large;
  }
}

@media all and (max-width: 1260px) {
  .footer {
    text-indent: -10em;
    background:
      linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
      radial-gradient(ellipse at top, #ec008c, transparent),
      radial-gradient(ellipse at bottom, #fc6767, transparent);
  }
}

#rainbowText {
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');
  -webkit-text-stroke: 1px black;

}

#filmColor {
  width: 100%;
  background-color: #39b9d2;
  background: radial-gradient(circle,
      Magenta 25%,
      rgb(255, 255, 255) 100%);
  position: absolute, center;
  background-size: 150px;
  background-image: url('https://thumbs.dreamstime.com/z/cinema-seamless-pattern-icons-movie-background-tv-show-television-online-entertainment-concept-film-elements-repeating-251720735.jpg');
  z-index: 15;
}

#filmColor::before {
  content: "";
  background: radial-gradient(circle,
      Magenta 25%,
      rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .75;
}

#programmingColor {
  background: radial-gradient(circle,
      #af7fdd 25%,
      rgb(255, 255, 255) 100%);
  background-size: 200px;
  background-image: url('https://as1.ftcdn.net/v2/jpg/02/38/22/66/1000_F_238226669_2e3HdJV5zB9LKE2RWaWoDN692MLSnv4g.jpg');
  z-index: 15;
}

#programmingColor:before {
  content: "";
  background: radial-gradient(circle,
      #af7fdd 25%,
      rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .75;
}

#epicsColor {
  background: radial-gradient(circle,
      Yellow 25%,
      rgb(255, 255, 255) 100%);

  background-size: 200px;
  background-image: url('https://c8.alamy.com/comp/2GNBWB5/ancient-greece-mythology-history-vector-seamless-pattern-2GNBWB5.jpg');
  z-index: 15;
}

#epicsColor:before {
  content: "";
  background: radial-gradient(circle,
      Yellow 25%,
      rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .75;
}

#stwColor {

  background:

    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent);

  background-size: 200px;
  background-image: url('https://image.shutterstock.com/image-vector/seamless-pattern-survival-people-surviving-600w-500423134.jpg');
}

#stwColor::before {
  content: "";
  background:
    radial-gradient(circle,
      #00FF7F 25%,
      rgb(255, 255, 255) 100%);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .75;
}

a {
  position: relative;
  font-size: 1rem;
  line-height: 0.9;
  text-align: center;
}

a:hover {
  font-size: 1.15rem;
}

a:active {
  font-size: .75rem;

}

#infoCard,
.Calendar {
  display: block;
  width: 113%;

  background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
}

#stwGreen {
  background: radial-gradient(circle,
      #00FF7F 25%,
      rgb(255, 255, 255) 100%);
  background-size: 200px;
  z-index: 15;
  opacity: 40%;
}

#speckledPattern {
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url('https://thumbs.dreamstime.com/b/black-small-polka-dot-pattern-repeat-background-seamless-repeats-45645483.jpg');
  -webkit-text-stroke: 1px black;
  background-size: 300px;

}

#EitanInfoBox {
  max-width: 180px;
  height: 27rem;
}

.EitanInfoButtons {
  position: relative;
  margin-top: 1rem;
  margin-left: .5rem;
}

#eitansProfilePic {
  margin-left: 2.25rem;
  border: .2rem solid transparent;
  background-image: url('https://as2.ftcdn.net/v2/jpg/00/94/53/25/500_F_94532580_XwSK8I03t7oQY246gc6vdeU1wm6q2r8P.jpg');
  background-size: 100rem;
}

#shine {
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  color: black;
  -webkit-text-stroke: .009rem #70c3a5;
}

#nameAndYear {
  color: #70c3a5;

}