.Tabs {
  color: white;
  font-weight: 700;
  -webkit-text-stroke: 0.01rem #70c3a5;
  border-radius: 2rem;
  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

/* Tab Navigation */
ul.nav {
  max-width: max-content;
  margin: 0 auto 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 2rem;
  padding-left: 0px;
  background: gray;
  opacity: 0.9;
  @media (max-width: 768px) {
    width: 92%;
  }
}

ul.nav li {
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  transition: all 0.7s;
}

ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.nav li:hover {
  background: rgb(15, 233, 127);
  color: rgb(22, 19, 19);
}
ul.nav li.active {
  background: #39a2db;
}
