.Tabs {
 /* width: 80%; */
 /* height: auto; */
 /* min-height: 400px; */
  /* background:     linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent); */
 /* margin: 1rem auto 1rem; */
 /* padding:-1rem auto; */
 color: black;
 border-radius: 2rem;
 /* @media (max-width: 769px) {
  padding: 2rem 0;
 } */
}

.outlet {
    /* width: 110% */
}

ul.nav li {
  width: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
    background:   lightgray  
    /* linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    radial-gradient(ellipse at top, #ec008c, transparent),
    radial-gradient(ellipse at bottom, #fc6767, transparent); */
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: 
  lightcoral;
  color: rgb(22, 19, 19);
}
ul.nav li.active {
  background: #39A2DB;
}